<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vadim</title>
</head>
<body>
<h3>Сalculator</h3>
<div>
    <form action="/appi"method="post">
        <input name="Введите число"placeholder="Введите число">
        <select>
            <option>-</option>
            <option>/</option>
            <option>*</option>
            <option>+</option>
        </select>
        <input name="Введите число"placeholder="Введите число">
        <input type="submit" value="Click">



    </form>
</div>
</body>
</html>